@page
@model CrudProductos.Pages.Productos.DetalleModel
@{
    ViewData["Title"] = "Detalle de Producto";
}

<h1>Detalle de Producto</h1>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Producto.Nombre</h5>
        <p class="card-text">
            <strong>Precio: </strong>@Model.Producto.Precio.ToString("C") <br />
            <strong>Stock: </strong>@Model.Producto.Stock <br />
            <strong>Fecha de Creacion: </strong>@Model.Producto.FechaCreacion.ToString("g") <br />
        </p>
    </div>
</div>
<a asp-page="Index" class="btn btn-outline-secondary"><i class="bi bi-arrow-return-left"></i> Volver atras</a>
