@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto ASP.net Razor Pages</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Esta aplicacion es un ejemplo de como crear un Crud utilizando Paginas Razor y SQL server para almacenar la informacion</p>
</div>
